<launch>
    <!-- 加载robot_description时使用command属性，属性值就是调用 xacro 功能包的 xacro 程序直接解析 xacro 文件。 -->
    <!-- <param name = "robot_description" command = "$(find xacro)/xacro $(find demo_urdf)/xacro/base.xacro" /> -->
    <param name = "robot_description" command = "$(find xacro)/xacro $(find demo_urdf)/xacro/base_camera_lidar.xacro" />
    <!-- 也可以是两个后缀的my_base.urdf.xacro -->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find demo_urdf)/config/base.rviz"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen"/>
</launch>