<launch>
    <!-- 运行move_base节点 -->
    <include file="$(find demo_nav)/launch/move_base.launch" />

    <!-- 启动SLAM节点 -->
    <include file="$(find demo_nav)/launch/slam.launch" />

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find demo_nav)/rviz/slam_nav.rviz" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>